{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="centered">
    <h1>Bericht verstuurd</h1>
    <p>Je bericht is verstuurd, de ontvanger krijgt het bericht via de mail met een link om te reageren via de website, zonder te weten dat jij het oorspronkelijke bericht hebt gestuurd. Hun antwoord wordt automatisch naar je doorgestuurd via de mail, dus houd je inbox in de gaten.</p>
    <input type="button" class="redirect_button" value="Terug" data-redirect-to="/"/>
</div>
{% endblock %}